<style type="text/css">

input.largeCheckbox{
	width: 29px;
	height: 29px;
}

</style>

<script language="JavaScript">
function toggle(source) {
	var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
		checkboxes[i].checked = source.checked;
	}
}
</script>

{% extends 'base.html' %}

{% block content %}
<div id="home-container" class="container text-center">
	<h1 id="home-title">{{organization}} Files</h1>
</div>

<div class="card col-md-6 offset-md-3" id="home-description">
	<h2 class="text-center">Files currently in the system</h2>
	<hr>
		<div class="bulk_download">
			<button class="btn btn-info">Download Selected</button>
		</div>	
		<table class="table table-striped">
			<thead>
				<tr>
				  <th> <input type="checkbox" class='largeCheckbox' onClick="toggle(this)"/> Select All </th>
				  <th>File Name</th>
				  <th>Actions</th>  
				  <th></th>
				</tr>
			</thead>
			<tbody>
			{% for file in files %}
				<tr>
				  <th><input type="checkbox" class="largeCheckbox" id="checkbox_id" value="value"></th>
				  <th>{{ file.file_name }}</th>
				  <th>
					<a class="btn btn-sm btn-success" href="download/?file={{ file.path }}/{{ file.file_name }}">Download</a>
					{% if organization == "NOAA" %}
						<a class="btn btn-sm btn-primary" href="/viewNOAA?file={{ file.path }}/{{ file.file_name }}">View</a>
					{% elif organization == "NASA" %}
						<a class="btn btn-sm btn-primary" href="/viewNASA?file={{ file.path }}/{{ file.file_name }}">View</a>
					{% else %}
						<a class="btn btn-sm btn-primary" href="#">View</a>
					{% endif %}
				  </th>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		<div class="bulk_download">
			<button class="btn btn-info">Download Selected</button>
		</div>
		
	</div>
</div>
{% endblock %}

